In [1]:
import pandas as pd
from datasets import load_dataset

In [4]:
#  Load dataset
dataset = load_dataset("lukebarousse/data_jobs")

In [17]:
df = dataset['train'].to_pandas()

df.head()

        job_title_short  ...                                    job_type_skills
0  Senior Data Engineer  ...                                               None
1          Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2         Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3         Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4         Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...

[5 rows x 17 columns]

In [31]:
df[['job_title_short', 'job_title']][:3]

pandas.core.frame.DataFrame

In [30]:
df.iloc[:10, :10]

        job_title_short  ... job_health_insurance
0  Senior Data Engineer  ...                False
1          Data Analyst  ...                False
2         Data Engineer  ...                False
3         Data Engineer  ...                False
4         Data Engineer  ...                False
5         Data Engineer  ...                False
6  Senior Data Engineer  ...                False
7         Data Engineer  ...                False
8      Business Analyst  ...                False
9        Data Scientist  ...                False

[10 rows x 10 columns]